{% extends 'layout.html' %}{% block title %} Contacts {% endblock %} {% block
content %}
<style>
  .reviews-background {
    display: none;
  }
  .section-background {
    display: none;
  }
</style>
<div class="about-us">
  <h1 class="service-h1">Contacts</h1>
  <div class="events-background contact-background"></div>
  <div class="about-section">
    <h1 class="about-h1">Contact Fyay</h1>
    <p class="about-p">
      Get in touch with us to plan your next unforgettable event. Whether it's a
      corporate gathering or a personal celebration, we're here to bring your
      vision to life.
    </p>
    <div class="contact-links">
      <a
        onclick="window.open ('https://www.linkedin.com/in/karrar-esbeyajani-23a67626a/', ''); return false"
        href="javascript:void(0);"
        >Linkedin</a
      >
      <a
        onclick="window.open ('https://github.com/KEYAJANI', ''); return false"
        href="javascript:void(0);"
        >Github</a
      >
      <a
        onclick="window.open ('https://discord.gg/3HZbjTX5ub', ''); return false"
        href="javascript:void(0);"
        >Discord</a
      >
      <a
        onclick="window.open ('https://www.instagram.com/esbeyajani/', ''); return false"
        href="javascript:void(0);"
        >Instgram</a
      >
    </div>
  </div>
</div>
{% endblock %}
