{% extends 'layout.html' %} {% block title %} Login {% endblock %} {% block
content %}
<style>
  .reviews-background {
    display: none;
  }
  .section-background {
    display: none;
  }
</style>
<div class="book-events login">
  <h1 class="book-events-h1">Login</h1>
  <div class="events-background login-background"></div>
  <div class="book-event-section login-section">
    <div class="event-section-first-column login-paragraph-section">
      <div class="login-paragraph">
        <p>
          Access your account to manage events, track progress, and stay
          updated. Log in to unlock seamless event planning and coordination.
        </p>
      </div>
    </div>
    <div class="event-section-form login-form">
      <form
        class="event-form-div"
        method="POST"
        action="{{ url_for('login') }}"
      >
        <div class="event-form event-form-email">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="event-form event-form-email">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>
        <div class="event-form event-form-button">
          <button type="submit" class="btn btn-primary">Confirm</button>
          <p class="form-question">
            Don't have an account?
            <a href="{{ url_for('register') }}" class="text-primary fw-bold"
              >Register here</a
            >.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
